<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hard Parkers</title>
</head>
<body>
    <!-- Header with nav bar -->
    <header>
        <h1>The Hard Parkers</h1>
    </header>

    <!-- Body -->
    <main>
        {% block content %}

        {% endblock content %}
    </main>

    <!-- Footer with foot bar -->
    <footer>
        <h2>Find us</h2>
        <p>The main thing is not to park, but to park hard.</p>
    </footer>
</body>
</html>